$vemba-light-grey: #F6F6F6;
$vemba-lighter-grey: #EAEAEA;
$vemba-soft-grey: #ECECEC;
$vemba-soft-light-grey: #D8D8D8;
$vemba-grey: #9B9B9B;
$vemba-dark-grey: #6F6F6F;
$vemba-white: #fff;
$vemba-red: #D0021b;
$vemba-green: #97CE60;
$vemba-dark-green: #6E9947;
$vemba-light-green: #A8DC74;
$vemba-extra-light-green: #FAFEF6;
$vemba-blue: #478FFF;
$vemba-extra-light-blue: #F6F9FE;
$vemba-light-blue: #479AFF;
$vemba-purple: #5B3FD1;
$vemba-light-purple: #BAAAFF;
$vemba-black: #181818;
$vemba-light-black: #1F1E20;
$vemba-amber-orange: #FFA000;
$vemba-light-grey-blue: #e0f2fb;
