#tab-sub-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  header {
    display: flex;
    width: auto;
  }
}
.settings-tabs#tab-sub-header{
    header {
        width: 100%;
    }
}

.adBreak-cards-container,
.bumper-cards-container {
  padding-top: 20px;
}
